.right-nav {
  height: 500%;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.info-row {
  display: flex;
  padding: 0 162px;
}

.info-card {
  width: 50%;
}

.info-card .name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.025em;
  color: #585858;
  padding-right: 30px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.info-card .phone,
.info-card .mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 29px;
  color: #585858;
}

.info-card .name-one-line {
  margin-bottom: 74px;
}

.info-card .info-links img {
  margin-top: 22px;
  margin-right: 10px;
}

/* map section */

.google-map {
  margin-top: 135px;
}

.google-map .map-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: #585858;
  margin-left: 175px;
}

.google-map .map-mail-index {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  margin-left: 175px;
  color: #585858;
}

.google-map .map {
  width: 77%;
  height: 563px;
  margin: 30px auto 0 auto;
  background: #ffffff;
  border: 1px solid #585858;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 28px;
  transform: skewX(-5deg);
}

.google-map .map iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* form custom */

.form-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  margin-top: 95px;
  margin-bottom: 0px;
  margin-left: 167px;
  color: #585858;
}

.contact-form {
  position: relative;
  height: 593px;
  width: auto;
  border-radius: none;
  filter: none;
  transform: unset;
  padding-left: 125px;
}

.contact-form .form-name-input div,
.contact-form .form-email-input div {
  width: 518px;
  height: 47px;
  margin-left: 56px;
  transform: skewX(-10deg);
}

.contact-form label {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #505050;
  margin-bottom: 10px;
}

.contact-form .form-name-input label,
.contact-form .form-email-input label {
  margin-left: 80px;
  margin-bottom: 15px;
}

.contact-form .textarea-input label {
  margin-top: 50px;
  margin-left: 110px;
}

.contact-form .textarea-input div {
  width: 1095px;
  height: 271px;
  margin-left: 60px;
  transform: skewX(-10deg);
}

.contact-form .textarea-input div textarea {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  transform: skewX(10deg);
  resize: none;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: black;
  padding: 30px 60px 0 60px;
}

.contact-form .submit-btn {
  width: 332px;
  height: 47px;
  transform: skewX(-10deg);
  margin-top: 35px;
}

.contact-form .submit-btn span {
  display: flex;
  justify-content: center;
}

.contact-form .submit-btn span div {
  margin-top: 5px;
  transform: skewX(10deg);
}

footer {
  margin-top: 165px;
}

@media (max-width: 1440px) {
  .info-row {
    display: flex;
    padding: 0px 100px;
    justify-content: space-evenly;
  }

  .info-card {
    width: 47%;
  }

  .info-card .name {
    padding-right: 40%;
  }

  /* form custom */

  .contact-form {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .contact-form .form-small-row {
    justify-content: space-evenly;
    padding: 0 50px;
  }

  .contact-form .form-name-input div,
  .contact-form .form-email-input div {
    width: 420px;
    height: 47px;
    margin-left: 56px;
  }

  .contact-form .textarea-input label {
    margin-top: 50px;
    margin-left: 0px;
  }

  .textarea_row_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form .textarea-input label {
    margin-left: 50px;
  }

  .contact-form .textarea-input div {
    width: 920px;
    height: 260px;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .info-row {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
  }

  .info-card {
    width: 48%;
  }

  .info-card .name {
    font-size: 35px;
    padding-right: 40%;
    line-height: 45px;
  }

  .info-card .phone,
  .info-card .mail {
    font-size: 22px;
  }

  .info-card .name-one-line {
    margin-bottom: 70px;
  }

  .info-card .info-links img {
    margin-top: 22px;
    margin-right: 10px;
    width: 175px;
  }

  /* map section */

  .google-map {
    margin-top: 125px;
  }

  .google-map .map-title {
    font-size: 27px;
  }

  .google-map .map-mail-index {
    font-size: 27px;
  }

  .google-map .map {
    width: 77%;
    height: 480px;
    padding: 22px;
  }

  /* form custom */

  .contact-form .form-small-row {
    justify-content: space-evenly;
    padding: 0 50px;
  }

  .contact-form .form-name-input div,
  .contact-form .form-email-input div {
    width: 390px;
    height: 47px;
    margin-left: 56px;
  }

  .contact-form .textarea-input label {
    margin-top: 50px;
    margin-left: 0px;
  }

  .textarea_row_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form .textarea-input label {
    margin-left: 50px;
  }

  .contact-form .textarea-input div {
    width: 830px;
    height: 260px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .info-row {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
  }

  .info-card {
    width: 47%;
  }

  .info-card .name {
    font-size: 32px;
    line-height: 40px;
    padding-right: 40%;
  }

  .info-card .phone,
  .info-card .mail {
    font-size: 20px;
  }

  .info-card .name-one-line {
    margin-bottom: 65px;
  }

  .info-card .info-links img {
    margin-top: 22px;
    margin-right: 10px;
    width: 140px;
  }

  /* map section */

  .google-map {
    margin-top: 100px;
  }

  .google-map .map-title {
    font-size: 24px;
    margin-left: 120px;
  }

  .google-map .map-mail-index {
    font-size: 24px;
    margin-left: 120px;
  }

  .google-map .map {
    width: 77%;
    height: 370px;
    padding: 18px;
  }

  /* form custom */

  .form-title {
    margin-left: 100px;
    font-size: 25px;
  }

  .contact-form .form-small-row {
    justify-content: space-evenly;
    padding: 0 5%;
  }

  .contact-form .form-name-input label,
  .contact-form .form-email-input label {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .contact-form .form-name-input div,
  .contact-form .form-email-input div {
    width: 290px;
    height: 44px;
    margin-left: 0px;
  }

  .contact-form .form-name-input input,
  .contact-form .form-email-input input {
    font-size: 20px;
    padding-left: 20px;
  }

  .contact-form .textarea-input label {
    margin-top: 50px;
    margin-left: 0px;
    font-size: 20px;
  }

  .textarea_row_2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form .textarea-input label {
    margin-left: 50px;
  }

  .contact-form .textarea-input div {
    width: 630px;
    height: 240px;
    margin-left: 0;
  }

  .contact-form .submit-btn {
    width: 260px;
    height: 42px;
  }

  .contact-form .submit-btn span div {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .info-row {
    display: flex;
    padding: 0 100px;
    flex-direction: column;
  }

  .info-card {
    width: 100%;
    margin-bottom: 40px;
  }

  .info-card .name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 49px;
    letter-spacing: -0.025em;
    color: #585858;
    padding-right: 40%;
    margin-bottom: 25px;
    margin-top: 5px;
  }

  .info-card .phone,
  .info-card .mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #585858;
  }

  .info-card .name-one-line {
    margin-bottom: 25px;
  }

  .info-card .info-links img {
    margin-top: 22px;
    margin-right: 10px;
  }

  /* map section */

  .google-map .map-title {
    font-size: 20px;
    margin-left: 100px;
  }

  .google-map .map-mail-index {
    font-size: 20px;
    margin-left: 100px;
  }

  .google-map .map {
    width: 77%;
    height: 320px;
    padding: 15px;
  }

  .contact-form {
    width: 85%;
  }

  .contact-form .form-small-row {
    flex-direction: column;
  }

  .contact-form .form-small-row .form-name-input {
    margin-bottom: 30px;
  }

  .contact-form .form-name-input label,
  .contact-form .form-email-input label {
    margin-left: 9%;
  }

  .contact-form .form-name-input div,
  .contact-form .form-email-input div {
    width: 90%;
    height: 45px;
    margin-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .contact-form label {
    font-size: 25px;
    display: inline-block;
  }

  .contact-form .textarea-input {
    margin: 0;
    width: 85%;
    padding: 0;
  }

  .contact-form .textarea-input label {
    margin-left: 10%;
    margin-top: 30px;
  }

  .contact-form .textarea-input div {
    width: 90%;
    height: 271px;
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form .submit-btn {
    width: 250px;
    height: 40px;
  }

  .contact-form .submit-btn span div {
    margin-top: 5px;
    transform: skewX(15deg);
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .right-nav {
    height: 700%;
  }

  .info-row {
    display: flex;
    padding: 0 50px;
    flex-direction: column;
  }

  .info-card {
    width: 100%;
    margin-bottom: 40px;
  }

  .info-card .name {
    font-size: 35px;
    padding-right: 40%;
  }

  .info-card .phone,
  .info-card .mail {
    font-size: 22px;
  }

  .info-card .name-one-line {
    margin-bottom: 25px;
  }

  /* map section */

  .google-map {
    margin-top: 80px;
  }

  .google-map .map-title {
    font-size: 18px;
    margin-left: 50px;
  }

  .google-map .map-mail-index {
    font-size: 18px;
    margin-left: 50px;
  }

  .google-map .map {
    width: 80%;
    padding: 10px;
    height: 250px;
  }

  .form-title {
    font-size: 20px;
    margin-left: 50px;
  }

  .contact-form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }

  .contact-form .form-small-row {
    flex-direction: column;
  }

  .contact-form .form-small-row .form-name-input {
    margin-bottom: 30px;
  }

  .contact-form .form-name-input label,
  .contact-form .form-email-input label {
    margin-left: 9%;
    font-size: 18px;
  }

  .contact-form .form-name-input input,
  .contact-form .form-email-input input {
    font-size: 16px;
    padding-left: 10px;
  }

  .contact-form .textarea-input {
    margin: 0;
    width: 85%;
    padding: 0;
  }

  .contact-form .textarea-input div {
    width: 90%;
    height: 200px;
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form .submit-btn {
    width: 180px;
    height: 35px;
  }

  .contact-form .submit-btn span {
    right: 2px;
    bottom: 2px;
  }

  .contact-form .submit-btn span div {
    margin-top: 5px;
    transform: skewX(10deg);
    font-size: 16px;
    margin-top: 0px;
  }

  .contact-form .textarea-input div textarea {
    padding: 10px 30px;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .info-card .name {
    font-size: 30px;
    padding-right: 40%;
    line-height: 40px;
  }

  .info-card .phone,
  .info-card .mail {
    font-size: 20px;
  }

  .info-card .name-one-line {
    margin-bottom: 25px;
  }

  .info-card .info-links img {
    margin-top: 22px;
    margin-right: 10px;
    width: 110px;
  }

  /* map section */

  .google-map .map-title {
    font-size: 16px;
    margin-left: 50px;
  }

  .google-map .map-mail-index {
    font-size: 16px;
    margin-left: 50px;
  }

  .google-map .map {
    width: 80%;
    padding: 5px;
    height: 200px;
  }
}

@media (max-width: 350px) {
  .info-card .phone,
  .info-card .mail {
    font-size: 18px;
  }

  .info-card .info-links img {
    width: 90px;
  }

  .google-map .map-title {
    font-size: 16px;
    margin-left: 30px;
  }

  .google-map .map-mail-index {
    font-size: 16px;
    margin-left: 30px;
  }

  .google-map .map {
    width: 80%;
    padding: 10px;
    height: 170px;
  }
}

.info-card > .alert {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0px;
  left: 0;
  text-align: center;
  font-size: 35px;
  color: white;
  background: #2da24a;
  margin: 0;
}