
/*Parts for home page*/

.clients-card .clients-card-hover{
  background: none;
  height: 325px;
  width: 260px;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  box-shadow: none;
}
.clients-card .clients-card-hover:hover{
  transition-duration: 0.5s; 
  background-color: white;
  box-shadow: 0 8px 25px -2px rgba(0, 0, 0, 0.1);
}

.blogs-card:hover {
  transition-duration: 0.5s;
  color: white;
  background-color: #33408f;
  box-shadow: 0 10px 30px -2px rgba(51, 64, 143, 0.3);
}

.mycss{
  position: absolute;
  right: 1px;
  top: 19px;
  width: 500px;  
  background-color: #f3f2ff;
} 