* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
a,
input {
  outline: none !important;
}

/* header */

header {
  width: 1440px;
  margin: 0 auto;
  background-image: url("../img/header.jpg");
  padding-bottom: 52px;
}

nav {
  display: flex;
  background-color: white;
}

.nav {
  height: 111px;
  display: flex;
  padding-right: 10px;
  box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 50px;
}

.nav img {
  height: 55px;
  margin-left: 120px;
  margin-top: 30px;
}

.nav .nav-menu {
  list-style: none;
  display: flex;
  margin-top: 34px;
  margin-left: 25px;
}

.nav .nav-menu li a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat-Medium";
  padding: 0 10px;
  font-size: 15px;
  transition: 0.4s ease;
}

.nav .nav-menu li a:hover {
  color: rgb(50, 68, 189);
}

.navbar-info {
  display: flex;
  padding-left: 30px;
  font-family: "Montserrat-Medium";
  font-size: 15px;
}

.navbar-info_phone {
  text-align: right;
  margin-top: 36px;
  color: #a8a8a8;
  line-height: 25px;
}
.navbar-info_phone span {
  color: #515a9b;
}

.navbar-info_language {
  margin: 52px 22px 0 22px;
}

.navbar-info_callback button {
  border: 1px solid #515a9b;
  color: #515a9b;
  padding: 12px 5px;
  border-radius: 30px;
  display: inline-block;
  background-color: white;
  margin-top: 40px;
  font-size: 15px;
  transition: 0.4s ease;
}

.navbar-info_callback button:hover {
  background-color: #515a9b;
  color: white;
}

/* header images*/

.header-first-row {
  display: flex;
  padding-left: 125px;
  padding-right: 90px;
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.header-first-row div {
  color: #969696;
  font-family: "Montserrat-Medium";
  width: 35%;
  font-size: 18px;
  align-self: flex-end;
  margin-bottom: 20px;
}

.header-first-row img {
  width: 392px;
  height: 270px;
  border-radius: 60px;
  border-top-right-radius: 0;
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.15);
}

.h-circle-line {
  width: 185px;
  height: 3px;
  background-color: #4c85ff;
  position: relative;
  top: 155px;
}

.header-second-row {
  padding-left: 125px;
  padding-right: 90px;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}

.h-cirlce-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-top: 62px;
  margin-left: 20px;
}

.h-cirlce-btn .h-circle-arrow {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 3px solid #4c85ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.h-cirlce-btn .h-circle-txt {
  color: #4c85ff;
  text-decoration: underline;
  font-family: "Montserrat-Medium";
  margin-left: 20px;
  line-height: 20px;
  font-size: 18px;
}

.h-img_two {
  border-radius: 65px;
  border-bottom-left-radius: 0;
  width: 470px;
  height: 300px;
  box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: 40px;
}

.h-img_three {
  border-radius: 65px;
  border-bottom-right-radius: 0;
  height: 380px;
  width: 308px;
  box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
}

/* header end */
/* main start */

/* info section */

main {
  width: 1440px;
  margin: 0 auto;
  background-color: #f5f5f7;
  padding-top: 5px;
}

#info {
  width: 100%;
  background-image: url("../img/main-bg.jpg");
  display: flex;
  padding-bottom: 82px;
  padding-top: 90px;
  background-repeat: no-repeat;
}

#info img {
  margin-left: 220px;
  width: 390px;
  height: 466px;
  border-radius: 70px;
  border-bottom-right-radius: 0;
  box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
}

#info .info-card {
  width: 590px;
  margin-left: 80px;
  padding-top: 35px;
}

.info-card-title {
  color: #33408f;
  font-family: "Montserrat-Bold";
  font-size: 30px;
  margin-bottom: 20px;
}

.info-card-txt {
  font-family: "Montserrat-Medium";
  font-size: 15px;
  color: #787879;
  line-height: 24px;
}

.info-card-btn {
  display: flex;
  justify-content: right;
  padding-right: 20px;
}

.info-card-btn button {
  font-family: "Montserrat-Medium";
  border: 1px solid #1571ff;
  width: 110px;
  height: 110px;
  text-decoration: underline;
  color: #1571ff;
  background-color: white;
  border-radius: 50%;
  margin-left: auto;
  transition: 0.4s ease;
}

.info-card-btn button:hover {
  background-color: #1571ff;
  color: white;
}

/* info section end */
/* products section */

#products {
  width: 100%;
  background-image: url("../img/products-bg.jpg");
}

.khorezm-silk {
  font-family: "Montserrat-thin";
  color: #a6befb;
  margin-left: 235px;
  font-size: 30px;
}

.products-title {
  margin-left: 235px;
  color: #33408f;
  font-size: 40px;
  font-family: "Montserrat-Bold";
  display: flex;
  align-items: center;
}

.products-title .p-title_line {
  background-color: #0f6dfc;
  height: 2px;
  width: 220px;
  margin-left: 40px;
  margin-bottom: -6px;
}

.products-row {
  padding: 0 150px 0 240px;
  margin-top: 27px;
}

.products-card {
  margin-top: 35px;
}

.p-card-header {
  width: 70px;
  height: 90px;
  background-color: white;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  font-size: 65px;
  margin-left: 24px;
  display: flex;
  align-items: top;
}

.p-card-header span {
  margin-left: -20px;
  color: #4a569c;
  margin-top: 10px;
}

.p-card-header .icon-bed-sheets {
  font-size: 70px;
}

.p-card-header .icon-napkin {
  font-size: 75px;
}

.p-card-header .icon-apron {
  font-size: 70px;
}

.p-card-header .icon-pot-holder {
  font-size: 55px;
  margin-left: -12px;
  margin-top: 15px;
}

.p-card-header .icon-mitten {
  font-size: 68px;
  margin-top: 12px;
}

.p-card-title {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  color: #33408f;
  margin-top: 24px;
}

.p-card-txt {
  color: #7d7d7e;
  font-family: "Montserrat-Medium";
  margin-top: 13px;
  font-size: 15px;
  width: 60%;
  margin-bottom: 32px;
}

.p-card-link {
  text-decoration: underline;
  font-family: "Montserrat-Medium";
  font-size: 15px;
}

/* products end */
/* clients section start */

#clients {
  width: 100%;
  background-image: url("../img/clients.jpg");
  padding-top: 90px;
  margin-top: 5px;
}

#clients .row {
  padding-left: 310px;
  padding-top: 43px;
  padding-bottom: 55px;
}

.clients-card .c-card-bg {
  background-color: white;
  height: 325px;
  width: 260px;
  border-radius: 50px;
  border-bottom-right-radius: 0;
  box-shadow: 0 8px 25px -2px rgba(0, 0, 0, 0.1);
}

.clients-card .c-card-bg-one,
.clients-card .c-card-bg-three {
  background: none;
  box-shadow: none;
}

.c-card-content {
  margin-left: -80px;
  padding: 45px 20px 0 20px;
}

.c-card-header {
  display: flex;
}

.clients-card .c-card-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.c-card-header .c-card-name {
  margin-left: 20px;
}

.c-card-name .c-card-name_name {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  margin-top: 5px;
}

.c-card-name .c-card-name_status {
  color: #878787;
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
}

.c-card-body {
  font-family: "Montserrat-Medium";
  margin-top: 15px;
  color: #878787;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 27px;
}

.c-card-footer i {
  color: #ffe24d;
  font-size: 14px;
  margin-left: 5px;
}

.c-card-footer span {
  color: black;
  font-family: "Montserrat-Bold";
  margin-left: 10px;
}

/* carousel custom */

.carousel-indicators {
  justify-content: left;
  margin-left: 235px;
  align-items: center;
}

.carousel-indicators li {
  width: 6px;
  height: 6px;
  background-color: #89898a;
  border: none;
  opacity: 1;
  transition: 0.4s ease;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #0f6eff;
  margin-left: 4px;
  margin-right: 4px;
  width: 10px;
  height: 10px;
}

/* clients section end */
/* our blogs start */

#blogs {
  width: 100%;
  background-image: url("../img/blogs-bg.jpg");
  margin-top: 25px;
  padding-top: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 130px;
}

#blogs .row {
  padding: 50px 180px 75px 250px;
}

.blogs-card {
  width: 300px;
  height: 360px;
  background-color: white;
  border-radius: 40px;
  padding: 35px 40px 0 40px;
  border-bottom-right-radius: 0;
  box-shadow: 0 10px 25px -2px rgba(131, 85, 85, 0.1);
  margin-top: 24px;
}

.blogs-primary-card {
  background-color: #33408f;
  color: white;
  box-shadow: 0 10px 30px -2px rgba(51, 64, 143, 0.3);
}

.b-card-header {
  display: flex;
}

.b-card-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blogs-card .b-card-name {
  margin-left: 20px;
  margin-bottom: 12px;
}

.blogs-card .b-card-name_name {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  margin-top: 5px;
}

.blogs-card .b-card-name_status {
  color: #878787;
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
}

.blogs-primary-card .b-card-name_status {
  color: #c7cadc;
}

.b-card-body-title {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  padding-top: 3px;
}

.b-card-body-txt {
  font-size: 13px;
  font-family: "Montserrat-Medium";
  color: #878787;
  padding-top: 10px;
  line-height: 20px;
  margin-bottom: 10px;
}

.blogs-primary-card .b-card-body-txt {
  color: white;
}

.b-card-body-link {
  font-size: 12px;
  font-family: "Montserrat-Medium";
  text-decoration: underline;
}

.blogs-primary-card .b-card-body-link {
  color: #c7cadc;
}

.blogs-primary-card .b-card-body-link:hover {
  color: white;
}

/* blogs section end */
/* booking section start */

#booking-banner {
  width: 100%;
  padding: 10px 0 70px 300px;
  background-color: white;
  display: flex;
}

.booking-txt {
  color: #33408f;
  font-family: "Montserrat-Bold";
  font-size: 35px;
  margin-right: 50px;
}

.booking-link {
  display: flex;
  align-items: center;
}

.booking-line {
  width: 140px;
  height: 3px;
  background-color: #408bff;
  margin-right: 40px;
}

.booking-circle {
  width: 150px;
  height: 150px;
  border: 3px solid #0f6eff;
  border-radius: 50%;
  color: #0f6eff;
  text-align: center;
  text-decoration: underline;
  padding-top: 57px;
  font-family: "Montserrat-Medium";
  font-size: 19px;
  transition: 0.4s ease;
}

.booking-circle:hover {
  background-color: #0f6eff;
  color: white;
}

footer {
  width: 100%;
  height: 420px;
  background-color: #33408f;
}

.footer {
  width: 1440px;
  background-image: url("../img/footer-bg.jpg");
  height: 100%;
  margin: 0 auto;
  padding: 60px 0 0 230px;
}

.our-contacts {
  margin-left: 10px;
  margin-top: 38px;
  list-style: none;
  color: white;
  font-family: "Montserrat-Medium";
}

.our-contacts-title {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  margin-bottom: 25px;
}

.our-contacts li {
  margin-bottom: 22px;
  display: flex;
  font-size: 15px;
  line-height: 19px;
}

.our-contacts li span {
  margin-right: 10px;
}

.our-contacts .our-contacts-phone span {
  margin-right: 32px;
}

.our-contacts .our-contacts-email span {
  margin-right: 18px;
}

.our-contacts-title-two {
  margin-bottom: 22px;
}

.our-contacts-about {
  line-height: 25px !important;
}

.our-contacts-title-three {
  margin-bottom: 17px;
  margin-left: 8px;
}

.footer-email {
  background-color: white;
  border: none;
  padding: 9px 25px;
  border-radius: 30px;
  font-size: 15px;
  margin-bottom: 30px;
  width: 290px;
}

.footer-email::placeholder {
  color: #cacaca;
}

.our-contacts-title-four {
  margin-left: 8px;
  margin-bottom: 0;
}

.footer-icons {
  margin-top: 10px;
  margin-left: 8px;
}
.footer-icons a {
  color: white;
}

.footer-icons i {
  font-size: 25px;
  margin-right: 15px;
  opacity: 0.6;
  transition: 0.3s ease;
}

.footer-icons i:hover {
  opacity: 1;
}
