.right-nav {
  height: 500%;
}

/* custom nav panel */

main {
  max-width: 1440px;
  margin: 0 auto;
}

.custom-nav {
  border: none;
  margin-left: 50px;
  margin-top: 100px;
  padding-left: 70px;
  padding-right: 100px;
  justify-content: space-between;
  padding-bottom: 15px;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #4e4e4e !important;
}

.custom-nav li > a.active {
  background-color: #288F42 !important;
}

.custom-nav li > a.active span{
  color: #fff !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: #4e4e4e !important;
}

.custom-nav-item {
  position: relative;
  width: 237.25px;
  height: 52.69px;
  background: #4e4e4e;
  border: 1px solid #4e4e4e !important;
  box-sizing: border-box;
  border-radius: 15px;
  transform: skewX(-9deg);
}

.custom-nav-item .nav-link {
  position: absolute;
  right: 3.75px;
  bottom: 7px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #4e4e4e;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-nav-item .nav-link span {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 43px;
  letter-spacing: -0.05em;
  color: #4e4e4e;
  margin-bottom: 2px;
  transform: skewX(9deg);
}

.custom-nav-item-3 {
  width: 274.66px;
}

.custom-nav-item-4 {
  width: 372.12px;
}

/* products card */

.products-card {
  margin-top: 60px;
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
}

.products-card-img {
  width: 762.84px;
  /*height: 407px;*/
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transform: skewX(-4deg);
  padding: 20px;
}

.products-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.product-name {
  position: relative;
  top: -315px;
  left: -48px;
  width: 220.42px;
  height: 44.14px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  transform: skewX(-6deg);
}

.product-name-big {
  width: 300px;
}

.product-name div {
  position: absolute;
  right: 4px;
  bottom: 5.9px;
  width: 100%;
  height: 100%;
  background: #288f42;
  border: 2px solid #17682b;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-name div span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 43px;
  letter-spacing: -0.05em;
  color: #ffffff;
  transform: skewX(6deg);
  margin-bottom: 4px;
}

.products-card-info {
  width: 40%;
  padding-top: 10px;
  padding-right: 20px;
}

.products-card-info-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #585858;
  margin-bottom: 30px;
}

.products-card-info-txt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #585858;
  margin-bottom: 30px;
}

/* footer  edit */

footer {
  margin-top: 100px;
}

@media (max-width: 1440px) {
  .custom-nav {
    margin-left: 30px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-evenly;
    padding-right: 50px;
    padding-left: 50px;
  }

  .custom-nav-item {
    width: 210px;
    height: 50px;
  }

  .custom-nav-item .nav-link span {
    font-size: 22px;
  }

  .custom-nav-item-3 {
    width: 265.66px;
  }

  .custom-nav-item-4 {
    width: 360.12px;
  }

  /* products card */

  .products-card {
    margin-top: 60px;
    display: flex;
    padding-left: 80px;
    padding-right: 40px;
    justify-content: space-between;
  }

  .product-name {
    top: -330px;
  }

  .products-card-img {
    /*width: 56%;*/
    /*height: 390px;*/
  }

  .products-card-info-title {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .products-card-info-txt {
    font-size: 22px;
  }

  footer {
    margin-top: 300px;
  }
}

@media (max-width: 1200px) {
  .custom-nav {
    margin-left: 0px;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-evenly;
    padding-right: 30px;
    padding-left: 30px;
  }

  .custom-nav-item {
    width: 180px;
    height: 46px;
  }

  .custom-nav-item .nav-link span {
    font-size: 26px;
  }

  .custom-nav-item-3 {
    width: 220px;
  }

  .custom-nav-item-4 {
    width: 300px;
  }

  /* products card */

  .products-card {
    margin-top: 60px;
    display: flex;
    padding-left: 50px;
    padding-right: 40px;
    justify-content: space-between;
  }

  .product-name {
    position: relative;
    top: -270px;
    left: -45px;
    width: 160px;
    height: 35px;
    border-radius: 12px;
    border-width: 1px;
  }

  .product-name-big {
    width: 230px;
  }

  .product-name div {
    right: 3px;
    bottom: 4px;
    border-radius: 12px;
    border-width: 1px;
  }

  .product-name div span {
    font-size: 25px;
  }

  .products-card-img {
    width: 56%;
    height: 340px;
  }

  .products-card-info-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .products-card-info-txt {
    font-size: 20px;
  }

  footer {
    margin-top: 200px;
  }
}

@media (max-width: 991px) {
  header {
    margin-bottom: 70px;
  }

  .custom-nav {
    margin-left: 0px;
    margin-right: 0;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .custom-nav-item {
    width: 145px;
    height: 45px;
  }

  .custom-nav-item .nav-link {
    right: 3px;
    bottom: 5px;
  }

  .custom-nav-item .nav-link span {
    font-size: 20px;
  }

  .custom-nav-item-3 {
    width: 175px;
  }

  .custom-nav-item-4 {
    width: 235px;
  }

  /* products card */

  .products-card {
    margin-top: 30px;
    display: flex;
    padding-left: 50px;
    padding-right: 10px;
    justify-content: space-between;
  }

  .product-name {
    position: relative;
    top: -220px;
    left: -35px;
    width: 135px;
    height: 32px;
    border-radius: 10px;
    border-width: 1px;
  }

  .product-name-big {
    width: 200px;
  }

  .product-name div {
    right: 3px;
    bottom: 4px;
    border-radius: 10px;
    border-width: 1px;
  }

  .product-name div span {
    font-size: 22px;
  }

  .products-card-img {
    width: 56%;
    padding: 15px;
    height: 270px;
  }

  .products-card-info {
    width: 41%;
    padding-right: 10px;
    padding-top: 0;
  }

  .products-card-info-title {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .products-card-info-txt {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 850px) {
  .products-card-img {
    height: 250px;
  }

  .product-name {
    top: -200px;
  }
}

@media (max-width: 767px) {
  .custom-nav {
    margin-left: 0px;
    margin-right: 0;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
  }

  .custom-nav-item {
    width: 110px;
    height: 40px;
    border-radius: 12px;
  }

  .custom-nav-item .nav-link {
    right: 2px;
    bottom: 3px;
    border-radius: 12px;
  }

  .custom-nav-item .nav-link span {
    font-size: 18px;
  }

  .custom-nav-item-3 {
    width: 140px;
  }

  .custom-nav-item-4 {
    width: 200px;
  }

  /* products card */

  .products-card {
    margin-top: 30px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    flex-direction: column;
  }

  .product-name {
    position: relative;
    top: -250px;
    left: -35px;
    width: 135px;
    height: 32px;
    border-radius: 10px;
    border-width: 1px;
  }

  .product-name-big {
    width: 200px;
  }

  .product-name div {
    right: 3px;
    bottom: 4px;
    border-radius: 10px;
    border-width: 1px;
  }

  .product-name div span {
    font-size: 22px;
  }

  .products-card-img {
    width: 95%;
    padding: 15px;
    height: 310px;
  }

  .products-card-info {
    margin-top: 30px;
    width: 95%;
    padding-right: 0px;
    padding-top: 0;
  }

  .products-card-info-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .products-card-info-txt {
    font-size: 18px;
    line-height: 25px;
  }

  footer {
    margin-top: 150px;
  }
}

@media (max-width: 650px) {
  .products-card-img {
    height: 270px;
  }

  .product-name {
    top: -220px;
  }
}

@media (max-width: 610px) {
  .custom-nav {
    margin-left: 0px;
    margin-right: 0;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
  }

  .custom-nav .nav-item {
    margin-bottom: 15px !important;
  }

  .custom-nav-item {
    width: 46%;
    height: 40px;
    border-radius: 12px;
  }

  .custom-nav-item .nav-link span {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .right-nav {
    height: 700%;
  }

  .custom-nav {
    margin-left: 0px;
    margin-right: 0;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .custom-nav .nav-item {
    margin-bottom: 10px !important;
    padding-left: 0;
    padding-right: 0;
  }

  .custom-nav-item {
    width: 46%;
    height: 40px;
    border-radius: 12px;
  }

  .custom-nav-item .nav-link {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .custom-nav-item .nav-link span {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  /* products card */

  .product-name {
    position: relative;
    top: -200px;
    left: -30px;
    width: 115px;
    height: 30px;
    border-radius: 10px;
    border-width: 1px;
  }

  .product-name-big {
    width: 185px;
  }

  .product-name div {
    right: 2px;
    bottom: 3px;
    border-radius: 10px;
    border-width: 1px;
  }

  .product-name div span {
    font-size: 20px;
  }

  .products-card-img {
    width: 95%;
    padding: 10px;
    height: 240px;
  }

  .products-card-info {
    margin-top: 30px;
    width: 95%;
    padding-right: 0px;
    padding-top: 0;
  }

  .products-card-info-title {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .products-card-info-txt {
    font-size: 16px;
    line-height: 25px;
  }

  footer {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .product-name {
    position: relative;
    top: -170px;
    left: -30px;
  }

  .products-card-img {
    width: 100%;
    padding: 10px;
    height: 210px;
  }

  .products-card-info {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .products-card {
    padding-left: 30px;
    padding-right: 30px;
  }
  .products-card-img {
    height: 190px;
  }

  .product-name {
    position: relative;
    top: -150px;
    left: -25px;
    width: 130px;
    height: 26px;
    border-radius: 8px;
  }

  .product-name div {
    border-radius: 8px;
  }

  .product-name-big {
    width: 145px;
  }

  .product-name div span {
    font-size: 16px;
  }

  .products-card-info-txt {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 400px) {
  header {
    margin-bottom: 50px;
  }

  .custom-nav {
    margin-left: 0px;
    margin-right: 0;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
  }

  .custom-nav-item {
    width: 95%;
    height: 40px;
    border-radius: 12px;
  }

  .custom-nav-item .nav-link {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .custom-nav-item .nav-link span {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 370px) {
  .products-card-img {
    height: 160px;
    padding: 7px;
  }

  .product-name {
    top: -130px;
    left: -18px;
  }
}
