<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Khorezm silk</title>
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="vendor/Bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="vendor/icons/icomoon/style.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav">
          <a href="#">
            <img src="img/Logo.png" alt="logo" />
          </a>
          <ul class="nav-menu">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Продукции</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="navbar-info">
          <div class="navbar-info_phone">
            Отдель по маркетингу <br />
            <span>+998(99) 309-51-54</span>
          </div>
          <div class="navbar-info_language">
            <div class="dropdown">
              <div
                class="dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                РУ
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="navbar-info_callback">
            <button>Заказать звонок</button>
          </div>
        </div>
      </nav>

      <div class="header-first-row">
        <div>
          Мы изготовливаес декортивные подушки, постельное белье, салфетки под
          приборы, фартуки, прихватки и рукавацы
        </div>
        <img src="img/header1.jpg" alt="header-img" />
      </div>

      <div class="h-circle-line"></div>

      <div class="header-second-row">
        <a href="#" class="h-cirlce-btn">
          <div class="h-circle-arrow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="55"
              height="55"
              viewBox="0 0 172 172"
              style="fill: #000000"
            >
              <g
                fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#4c85ff">
                  <path
                    d="M85.94625,3.38625c-1.89469,0.04031 -3.41312,1.59906 -3.38625,3.49375v148.79344l-28.58156,-27.42594c-0.65844,-0.65844 -1.55875,-1.02125 -2.48594,-1.00781c-1.3975,0.04031 -2.64719,0.91375 -3.14437,2.21719c-0.49719,1.30344 -0.16125,2.78156 0.87344,3.73562l36.77844,35.31375l36.77844,-35.31375c0.90031,-0.84656 1.27656,-2.10969 0.98094,-3.30562c-0.29563,-1.19594 -1.20938,-2.15 -2.39188,-2.48594c-1.19594,-0.34937 -2.4725,-0.02687 -3.34594,0.84656l-28.58156,27.42594v-148.79344c0.01344,-0.92719 -0.34937,-1.8275 -1.00781,-2.48594c-0.65844,-0.65844 -1.55875,-1.02125 -2.48594,-1.00781z"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="h-circle-txt">
            Загрузить <br />
            презентатцию
          </div>
        </a>
        <img src="img/header2.jpg" class="h-img_two" alt="header-img" />
        <img src="img/header3.jpg" class="h-img_three" alt="header-img" />
      </div>
    </header>
    <main>
      <section id="info">
        <img src="img/info-page-bg.jpg" alt="info-page-bg" />
        <div class="info-card">
          <div class="info-card-title">OOO "Хоразм Ипаги"</div>
          <div class="info-card-txt">
            является дочерной, компанией, входящая в состав компании "Вahmal
            Сrоuр" ведёт свою деятельность основным образом занимается
            изготовлением и переработкой шелкопряда, так же изготовлением
            различных готовых текстильных изделий готовых продукции. И продукции
            из шёлка, также мы работаем под заказ на ваше усмотрение. <br />
            <br />
            Мы занимаемся реализацией внутренного рынка, а также ведём экспорт и
            импорттекстильной продукции товарооборотом в год среднем не менее 5
            миллионов долларов. Мы можем представить вам различного рода
            текстильную продукцию изготовленную в нашей компаний имеющую ряд
            сертификатов качеств.
          </div>
          <div class="info-card-btn">
            <button>
              Читать <br />
              подробнее
            </button>
          </div>
        </div>
      </section>
      <section id="products">
        <span class="khorezm-silk">Khorezm Silk</span>
        <div class="products-title">
          <div class="p-title_txt">Продукции</div>
          <div class="p-title_line"></div>
        </div>

        <div class="row products-row">
          <div class="col-md-4 px-0">
            <div class="products-card">
              <div class="p-card-header">
                <span class="icon-pillow"></span>
              </div>
              <div class="p-card-title">Декортивные подушки</div>
              <div class="p-card-txt">Квадратные и прямоугольные</div>
              <a href="#" class="p-card-link">Подробнее</a>
            </div>
          </div>
          <div class="col-md-4 px-0">
            <div class="products-card">
              <div class="p-card-header">
                <span class="icon-bed-sheets"></span>
              </div>
              <div class="p-card-title">Постельное белье</div>
              <div class="p-card-txt">Постельное белье и покрывали</div>
              <a href="#" class="p-card-link">Подробнее</a>
            </div>
          </div>
          <div class="col-md-4 px-0">
            <div class="products-card">
              <div class="p-card-header">
                <span class="icon-napkin"></span>
              </div>
              <div class="p-card-title">Салфетки</div>
              <div class="p-card-txt">Салфетки под приборы и подставки</div>
              <a href="#" class="p-card-link">Подробнее</a>
            </div>
          </div>
          <div class="col-md-4 px-0">
            <div class="products-card">
              <div class="p-card-header">
                <span class="icon-apron"></span>
              </div>
              <div class="p-card-title">Фартуки</div>
              <div class="p-card-txt">Широкий выбор поварский фартуков</div>
              <a href="#" class="p-card-link">Подробнее</a>
            </div>
          </div>
          <div class="col-md-4 px-0">
            <div class="products-card">
              <div class="p-card-header">
                <span class="icon-pot-holder"></span>
              </div>
              <div class="p-card-title">Прихватки</div>
              <div class="p-card-txt">Разнобразные и удобные прихватки</div>
              <a href="#" class="p-card-link">Подробнее</a>
            </div>
          </div>
          <div class="col-md-4 px-0">
            <div class="products-card">
              <div class="p-card-header">
                <span class="icon-mitten"></span>
              </div>
              <div class="p-card-title">Прихватки</div>
              <div class="p-card-txt">
                Высококачественные прихватки для комфорта
              </div>
              <a href="#" class="p-card-link">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
      <section id="clients">
        <span class="khorezm-silk">Khorezm Silk</span>
        <div class="products-title">
          <div class="p-title_txt">Отзывы клиентов</div>
          <div class="p-title_line"></div>
        </div>

        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg c-card-bg-one">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg c-card-bg-three">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg c-card-bg-one">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg c-card-bg-three">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg c-card-bg-one">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="clients-card">
                    <div class="c-card-bg c-card-bg-three">
                      <div class="c-card-content">
                        <div class="c-card-header">
                          <img src="img/header2.jpg" alt="avatar" />
                          <div class="c-card-name">
                            <div class="c-card-name_name">
                              Акрамов Акром Акромович
                            </div>
                            <div class="c-card-name_status">
                              Предприниматель
                            </div>
                          </div>
                        </div>
                        <div class="c-card-body">
                          Lorem ipsum, dolor sit amet consectetur adipisicing
                          elit. Facere tenetur nam non in consectetur officia,
                          id consequatur fugiat voluptates nesciunt sit. Ullam,
                          suscipit velit?
                        </div>
                        <div class="c-card-footer">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <span>4.0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="blogs">
        <span class="khorezm-silk">Khorezm Silk</span>
        <div class="products-title">
          <div class="p-title_txt">Отзывы клиентов</div>
          <div class="p-title_line"></div>
        </div>

        <div
          id="carouselExampleIndicators1"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators1"
              data-slide-to="0"
              class="active"
            ></li>
            <li
              data-target="#carouselExampleIndicators1"
              data-slide-to="1"
            ></li>
            <li
              data-target="#carouselExampleIndicators1"
              data-slide-to="2"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4 px-0">
                  <div class="blogs-card blogs-primary-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="blogs-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="blogs-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 px-0">
                  <div class="blogs-card blogs-primary-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="blogs-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="blogs-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-4 px-0">
                  <div class="blogs-card blogs-primary-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="blogs-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 px-0">
                  <div class="blogs-card">
                    <div class="b-card-header">
                      <img src="img/header2.jpg" alt="avatar" />
                      <div class="b-card-name">
                        <div class="b-card-name_name">Khorezm silk</div>
                        <div class="b-card-name_status">15 dec, 2020</div>
                      </div>
                    </div>
                    <hr />
                    <div class="b-card-body">
                      <div class="b-card-body-title">
                        Мега скидки в честь нового года целых 50%
                      </div>
                      <div class="b-card-body-txt">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Accusantium praesentium eaque doloribus
                      </div>
                      <a href="#" class="b-card-body-link"> Подробнее </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="booking-banner">
        <div class="booking-txt">
          Оформите заказ <br />
          онлайн прямо сейчас
        </div>
        <div class="booking-link">
          <div class="booking-line"></div>
          <a href="#" class="booking-circle">Заказать</a>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer">
        <div class="footer-logo">
          <img src="img/footer-logo.jpg" alt="Logo" />
        </div>
        <div class="row">
          <div class="col-md-4">
            <ul class="our-contacts">
              <div class="our-contacts-title">Наши контакты</div>
              <li>
                <span>Адрес: </span> Республика Узбекистан Хорезмская область,
                г.Ургенч, улю В.Фаяазова 1А
              </li>
              <li class="our-contacts-phone">
                <span>Тел:</span> +99899 309-51-54
              </li>
              <li class="our-contacts-email">
                <span>Email:</span> xorazm-ipagi@gmail.ru
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="our-contacts">
              <div class="our-contacts-title our-contacts-title-two">О нас</div>
              <li class="our-contacts-about">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur nemo officiis veritatis quibusdam fugiat qui
                perspiciatis? Totam pariatur
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="our-contacts">
              <div class="our-contacts-title our-contacts-title-three">
                Подписаться
              </div>
              <input
                type="email"
                class="footer-email"
                placeholder="Ваш e-mail"
              />
              <div class="our-contacts-title our-contacts-title-four">
                Мы в социальных сетях
              </div>
              <div class="footer-icons">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>

  <!-- scripts -->
  <script src="vendor/Jquery/JQuery.js"></script>
  <script src="vendor/Bootstrap/js/popper.js"></script>
  <script src="vendor/Bootstrap/js/bootstrap.js"></script>
  <script
    src="https://kit.fontawesome.com/da87c04439.js"
    crossorigin="anonymous"
  ></script>
</html>
